<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel ="stylesheet" href = "{{url_for('static', filename='homepage.css')}}" />
        <!-- <link rel ="stylesheet" href = 'homepage.css'/> -->
        <!-- <style>
            * {
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            color:black;
            }
        </style> -->

        <script>
            // document.addEventListener('DOMContentLoaded',function() {
            //     document.querySelector('#submit').onclick = ()=>{
            //         // event.preventDefault();
            //         const request = new XMLHttpRequest();
            //         request.open('POST','/api/search');
            //         request.onload = ()=>{
            //             const data  = JSON.parse(request.responseText);
            //         }
            //         const name = document.querySelector('#searchdata').value;
            //         const option = ocument.querySelector('.radio').value;
            //         const searchData = new FormData();
            //         searchData.append('name', name);
            //         searchData.append('option',option);
            //         request.send(searchData);
            //         //stop form from submitting
            //         return false;
            //     }
            // })
            function searchresults() {
                    document.querySelector('#bookslist').innerHTML = '';
                    document.querySelector('#error').innerHTML = ' ';
                    document.querySelector('#searchresults').innerHTML = ' ';

                    const name = document.querySelector('#searchdata').value;
                    var opt = '';
                    if(name.length < 3) {
                        alert("please enter minimum three characters")
                        return false;
                    }
                    var count = 0;
                    document.querySelectorAll('.radio-opt').forEach(function(name){
                        if(name.checked == true) {
                            opt = name.value;
                            count = 1;
                        }
                    })
                    if(count == 0) {
                        alert('please select any one field')
                        return false;
                    }
                    alert(opt)
                    const request = new XMLHttpRequest();
                    request.open('POST','/api/search');
                    request.onload = ()=>{
                        const data  = JSON.parse(request.responseText);
                        if(data.notfound) {
                            error_msg = "No books found. Please check your spelling or try a different search term."
                            document.querySelector('#error').innerHTML = error_msg;
                            return false;
                        }else if(data.success){
                            const books_list = data.books;
                            alert("success")
                            let msg = 'Books related to your search'
                            document.querySelector('#searchresults').innerHTML = msg
                            for(let i = 0; i < books_list.length;i++) {
                                const li = document.createElement('li');
                                // var x = document.createElement("A");
                                // var t = document.createTextNode(books_list[i]);
                                // x.setAttribute("href", "");
                                // x.appendChild(t);
                                // li.innerHTML = x;
                                // li.innerHTML = "<a href='"+ books_list[i] +"' >"+ books_list[i] +"</a>";
                                li.innerHTML = "<li>" + books_list[i][0] + " <button onclick = 'bookdisplay(this)' id = "+ books_list[i][1] + ">View Book</button></li>";
                                document.querySelector('#bookslist').append(li);
                            }

                        }

                    }
                    const searchData = new FormData();
                    searchData.append('name', name);
                    searchData.append('option',opt);
                    request.send(searchData);
                    //stop form from submitting
                    return false;
                }
                function bookdisplay(button) {
                    alert("hai")
                    alert(button.id)
                }
        </script>
    </head>




<body>
<div class='container'>
    <h1 style="text-align: center;">e-Book Review</h1>
    <div align=right>
        <label>
            <a href="logout"><button type="button" class="linkbutton">Logout</button></a>
        </label>
    </div>
    <div>
        {% if username %}
        <h2>Welcome {{username}}</h2>
        {%endif%}
    </div>
    <div class="Searchbox">
        <div id ='error'></div>
        <input id ='searchdata' type="text" name="name" placeholder="Enter text here..."required>
        <button type="submit" onclick="searchresults()">Search</button>
        <div class='radio' name='radio'>
            <input class="radio-opt" type="radio" name="option" value="title">
            <label>Title</label>
            <input class="radio-opt" type="radio" name="option" value="year">
            <label>Year</label>
            <input class="radio-opt" type="radio" name="option" value="isbn">
            <label>Isbn</label>
            <input class="radio-opt" type="radio" name="option" value="author">
            <label>Author</label>
        </div>
    </div>
    <div class="row">
        <div class="side">
          <h2 id ='searchresults'></h2>
          <ul id ='bookslist'>

          </ul>
        </div>
        <div class="main">
          <h2>Book display</h2>
        </div>
      </div>
</div>
</body>
</html>
