<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel ="stylesheet" href = "{{url_for('static',filename='homepage.css')}}" />
        <!-- <link rel ="stylesheet" href = "{{url_for('static',filename='popup.css')}}" /> -->
        <!-- <link rel ="stylesheet" href = 'homepage.css'/> -->
        <style>
             .side {
            flex: 50%;
            padding: 10px;
            padding-left: 50px;
            background-origin: padding-box;
            background-color: blue;
            }

            /* Main column */
            .main {
            flex: 50%;
            padding: 20px;
            }
            button {
                background-color: #4CAF50;
                color: white;
                padding: 15px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 10%;
            }
            .form-container{
                display: none;
            }

        </style>

        <script>
            // document.addEventListener('DOMContentLoaded',function() {
            //     document.querySelector('#submit').onclick = ()=>{
            //         // event.preventDefault();
            //         const request = new XMLHttpRequest();
            //         request.open('POST','/api/search');
            //         request.onload = ()=>{
            //             const data  = JSON.parse(request.responseText);
            //         }
            //         const name = document.querySelector('#searchdata').value;
            //         const option = ocument.querySelector('.radio').value;
            //         const searchData = new FormData();
            //         searchData.append('name', name);
            //         searchData.append('option',option);
            //         request.send(searchData);
            //         //stop form from submitting
            //         return false;
            //     }
            // })
            function searchresults() {
                    document.querySelector('#bookslist').innerHTML = '';
                    document.querySelector('#error').innerHTML = ' ';
                    document.querySelector('#searchresults').innerHTML = ' ';
                    document.querySelector('#searchresults').innerHTML = '';


                    const name = document.querySelector('#searchdata').value;
                    var opt = '';
                    if(name.length < 3) {
                        alert("please enter minimum three characters")
                        return false;
                    }
                    var count = 0;
                    document.querySelectorAll('.radio-opt').forEach(function(name){
                        if(name.checked == true) {
                            opt = name.value;
                            count = 1;
                        }
                    })
                    if(count == 0) {
                        alert('please select any one field')
                        return false;
                    }
                    alert(`Dear User! You opted ${opt}`)
                    const request = new XMLHttpRequest();
                    request.open('POST','/api/search');
                    request.onload = ()=>{
                        const data  = JSON.parse(request.responseText);
                        if(data.notfound) {
                            error_msg = "No books found. Please check your spelling or try a different search term."
                            document.querySelector('#error').innerHTML = error_msg;
                            return false;
                        }else if(data.success){
                            const books_list = data.books;
                            alert("success")
                            let msg = 'Books related to your search'
                            document.querySelector('#searchresults').innerHTML = msg
                            for(let i = 0; i < books_list.length;i++) {
                                const li = document.createElement('li');
                                // var x = document.createElement("A");
                                // var t = document.createTextNode(books_list[i]);
                                // x.setAttribute("href", "");
                                // x.appendChild(t);
                                // li.innerHTML = x;
                                // li.innerHTML = "<a href='"+ books_list[i] +"' >"+ books_list[i] +"</a>";
                                li.innerHTML = "<li>" + books_list[i][0] + " <button onclick = 'bookdisplay(this)' id = "+ books_list[i][1] + ">View Book</button></li>";
                                document.querySelector('#bookslist').append(li);
                            }

                        }
                        document.title = 'SearchResults'
                        history.pushState({'title':'searchResults','text':data},'SearchResults','SearchResults')

                    }
                    const searchData = new FormData();
                    searchData.append('name', name);
                    searchData.append('option',opt);
                    request.send(searchData);
                    //stop form from submitting
                    return false;
                }
                function bookdisplay(button) {
                    document.querySelector('#bookdetails').innerHTML = ''
                    document.querySelector('#bookdisplay').innerHTML = ''
                    const request = new XMLHttpRequest();
                    request.open('POST','/api/bookdetails');
                    alert(button.id)
                    const isbn = button.id;
                    request.onload = ()=> {
                        const data  = JSON.parse(request.responseText);
                        if(data.success) {
                            let msg = 'Your book details are'
                            document.querySelector('#bookdisplay').innerHTML = msg
                            const bookdetails = data.bookdetail;
                            alert('success')
                            for(let key in bookdetails) {
                                const li = document.createElement('li');
                                li.innerHTML = "<li>"+key+" : "+bookdetails[key]+ " </li>";
                                document.querySelector('#bookdetails').append(li);
                            }
                        }
                        const li = document.createElement('li');
                        li.className = 'reviewbutton'
                        li.innerHTML = "<li><button onclick = 'checkreview(this)' id = "+ isbn + ">Book Review</button></li>"
                        document.querySelector('#bookdetails').append(li);
                    }

                    const searchData = new FormData();
                    searchData.append('isbn', isbn);
                    request.send(searchData)
                }
                function checkreview(button) {
                    alert('checkreview')
                    const isbn = button.id;
                    const request = new XMLHttpRequest();
                    request.open('POST','/api/submitreview');
                    request.onload = ()=> {
                        const data  = JSON.parse(request.responseText);
                        if(data.review) {
                            alert("you already submitted the review")
                            document.querySelector('.reviewbutton').innerHTML = '<p>your review is:'+data.getreview['review']+'</p> <p>your rating:'+data.getreview['rating']+'</p>';

                        }
                        else {
                            openForm(isbn)
                        }
                    }
                    const searchData = new FormData();
                    searchData.append('isbn', isbn);
                    request.send(searchData)
                }
                function openForm(isbn) {
                    alert('openform')
                    document.querySelector('.form-container').style.display = "block";
                    document.querySelector('#revsubbtn').onclick = function(){
                        var comment = document.querySelector('#validationTextarea').value;
                        var rating = '';
                        document.querySelectorAll("input[name='star']").forEach(function(name){
                            if(name.checked == true) {
                                    rating = name.value;
                            }
                        })
                        document.querySelector('.form-container').style.display = "none";
                        bookreview(isbn,comment,rating)
                    }
                }
                function bookreview(isbn,comment,rating){
                    alert('bookreview')
                    alert(isbn)
                    alert(comment)
                    alert(rating)
                    const request = new XMLHttpRequest();
                    request.open('POST','/api/submitreview');
                    request.onload = ()=> {
                        const data  = JSON.parse(request.responseText);
                        if(data.review) {
                            alert('your review submitted successfully')
                            document.querySelector('.reviewbutton').innerHTML = '<p>your review is:'+data.getreview['review']+'</p> <p>your rating:'+data.getreview['rating']+'</p>';
                        }
                    }

                    const searchData = new FormData();
                    searchData.append('isbn', isbn);
                    searchData.append('comment',comment);
                    searchData.append('rating',rating);
                    request.send(searchData)
                }
        </script>
    </head>




<body>
<div class='container'>
    <h1 style="text-align: center;">e-Book Review</h1>
    <div align=right>
        <label>
            <a href="logout"><button type="button" class="linkbutton">Logout</button></a>
        </label>
    </div>
    <div>
        {% if username %}
        <h2>Welcome {{username}}</h2>
        {%endif%}
    </div>
    <div class="Searchbox">
        <div id ='error'></div>
        <input id ='searchdata' type="text" name="name" placeholder="Enter text here..."required>
        <button type="submit" onclick="searchresults()">Search</button>
        <div class='radio' name='radio'>
            <input class="radio-opt" type="radio" name="option" value="title">
            <label>Title</label>
            <input class="radio-opt" type="radio" name="option" value="year">
            <label>Year</label>
            <input class="radio-opt" type="radio" name="option" value="isbn">
            <label>Isbn</label>
            <input class="radio-opt" type="radio" name="option" value="author">
            <label>Author</label>
        </div>
    </div>
    <div class="row">
        <div class="side">
          <h2 id ='searchresults'></h2>
          <ul id ='bookslist'>

          </ul>
        </div>
        <div class="main">
          <h2 id='bookdisplay'></h2>
          <ul id='bookdetails'>
          </ul>

          <div class="form-container">
            <h2><pre class="tab1">Post your Rating: </pre></h2>
            <div class="stars">
                <input class="star star-5" id="star-5" value=5 type="radio" name="star"/>
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4"  value=4 type="radio" name="star"/>
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3"  value=3 type="radio" name="star"/>
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2"  value=2  type="radio" name="star"/>
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1"  value=1 type="radio" name="star"/>
                <label class="star star-1" for="star-1"></label>
            </div>
            <br>
            <div class="mb-3">
                <label for="validationTextarea" style="color: black;font-size:larger;">Comment</label>
                <textarea class="form-control is-invalid" id="validationTextarea" name= "comment" placeholder="comment" pattern=".*\\S.*[a-zA-z0-9 ]" title = "minimum 10 characters are required" minlength="10" required></textarea>
                <br>
                <button type="submit" class="btn btn-primary btn-lg"id = 'revsubbtn'>Submit</button>
            </div>
            <br>
        </div>
        </div>
      </div>

</div>
</body>
</html>
